GEMINI_API_KEY=AIzaSyAo0UjPS64B3OgH97ykeKjfj_M8GF_0FRU
JWT_SECRET=una_clave_larga_y_segura
SMTP_USER=wilsonwc2110@gmail.com
SMTP_PASS=riszpbmytjdoixgo
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=unidad_educativa
DB_PORT=3306
PUBLIC_FRONTEND_URL=http://localhost:5173
